@import '~sema-ui-components/src/components/styles/_variables.scss';

$indent: 20px;

.wrap {
  position: absolute;
  top: $indent;
  right: $indent;
  &.compare {
    width: calc(100% / 2 - #{$indent} - 40px);
  }

  :global {
    .Select-option {
      text-transform: capitalize;
    }
  }
}

.closeIcon {
  position: absolute;
  top: 0;
  right: 0;
}

.selectLabel {
  &::after {
    content: ': '
  }
}

.selectValue {
  text-transform: capitalize;
}
