@import '~sema-ui-components/src/components/styles/_variables.scss';

.rowDetail {
  flex:100%;
  padding-top: 0px;
}
.jobRowLink {
  padding-right: 15px;
}

.failedTOExecutionCount {
  margin-right: 10px;
}
