@import '~sema-ui-components/src/components/styles/_variables.scss';

.groupBody {
  border: 1px solid border-color(border);
  background-color: bg-color(content);
  padding: 0 20px;
  :global {
    .form-row {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}

.withError {
  .groupBody {
    border: 2px solid status-color(danger);
    padding: 0 19px;
  }
}

.customReadTitle {
  &.readOnly {
    .groupHeader {
      display: none;
    }
  }
}

.readOnly {
  .groupHeader {
    label {
      margin-bottom: 0;
    }
  }
  .groupBody {
    border: none;
    padding: 0;
  }
  :global {
    .form-row {
      .form-row {
        margin: 0;
      }
    }
  }
}
