@import '~sema-ui-components/src/components/styles/_variables.scss';
@import '../../../../styles/_mixins.scss';

.massToolConfirmWrap {
  p {
    margin: 0;
    font-size: 16px;
  }
}

.massToolConfirmHeader {
  p {
    span {
      ~ span {
        margin-left: 5px;
      }
    }
  }
}

.tooltipLabel {
  margin-bottom: 10px;
}

.massToolConfirmFooter {
  margin: 20px 0;
}

.massToolForm {
  margin-top: 10px;
  margin-bottom: 10px;
}

.massToolType {
  label {
    margin-bottom: 10px;
  }
}

.massToolConfirmWrap {
  position: relative;
  padding-bottom: 10px;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: -20px;
    bottom: 0;
    border-left: 1px solid secondary-color(harmaa, t60);
    border-right: 1px solid secondary-color(harmaa, t5);
  }
}

.notification {
  margin-right: 10px;
}

.publishConfirmButton {
  height: 50px;
}

.batchSelection {
  margin-bottom: 0;
  display: inline-block;
}

.buttonGroup {
  @include arrange-items()
}
