@import '~sema-ui-components/src/components/styles/_variables.scss';
@import '../../../styles/_mixins.scss';

.buttonGroup {
  @include arrange-items($margin: 0);
}

.publishDialogDatepicker {
  display: flex;
  align-items: center;
  :global {
    .rdtPicker {
      bottom: -100px;
      right: 90px;
    }
    .rdt {
      input {
        width: 90px;
        margin-right: 10px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .publishDialogDatepicker {
    width: 180px;
  }
}

@media (min-width: 1280px) {
  .publishDialogDatepicker {
    width: 260px;
  }
}
