@import '~sema-ui-components/src/components/styles/_variables.scss';

.previewNumber {
    margin-top: 10px;
    margin-left: 10px;
}

.previewDial {
    margin-top: 10px;
    margin-left: 10px;
}

.previewLabel {
    margin-left: 10px;
}