@import '~sema-ui-components/src/components/styles/_variables.scss';

.warning {
  padding: 10px 40px 10px 20px;
  background-color: bg-color(content);
  border: 1px solid border-color(border);
  border-left: 3px solid status-color(danger);
  margin-bottom: 10px;
}
