@import '~sema-ui-components/src/components/styles/_variables.scss';
@import '../../../../styles/_mixins.scss';

.reviewBarHead {
  background-color: rgba(#525557, 0.9);
  padding: 10px 20px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headTitleWrap {
  display: inline-flex;
  align-items: center;
  label {
    font-size: 18px;
  }
  svg {
    fill: #FFFFFF;
  }
}

.headTitle {
  margin-right: 10px;
}

.reviewBarWrap {
  overflow-y: scroll;
  background-color: rgba(#525557, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 170px;
}

.approvalRowHead {
  color: #FFFFFF;
  padding: 0 20px;
  background-color: rgba(#525557, 0.9);
  padding-bottom: 5px;
  font-size: 14px;
}

.approvalRowBody {
  background-color: #FFFFFF;
  padding: 10px 20px;
  .approvalCheckbox {
    label {
      margin-bottom: 0;
    }
  }
}

.cancelButton {
  display: inline-flex;
  align-items: center;
}

.cancelText {
  color: #FFFFFF;
  text-transform: uppercase;
  margin-right: 5px;
}

.cancelIcon {
  fill: #FFFFFF;
}

.reviewBarButtonGroup {
  @include arrange-items($align: 'right', $margin: 0);
}

.buttonGroup {
  @include arrange-items();
}

.approved {
  background-color: rgba(status-color(success), 0.9);
}

.contentColumn {
  display: flex;
  align-items: center;
}

.languageIcon {
  margin-right: 10px;
}

.errorCell {
  font-size: 15px;
}

.hasError {
  color: status-color(danger);
}
