{
    "presets": [
      ["env", { "modules": false }],
      "react"
    ],
    "plugins": [
      "syntax-dynamic-import",
      ["react-intl",
        { "messagesDir": "./wwwroot/js/build/messages/",
          "moduleSourceName": "util/react-intl" }]
    ],
    "env": {
      "development": {
        "plugins": [
          "react-hot-loader/babel",
          "transform-react-jsx-source"
        ]
      }
    }
}
