<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="d:\logsPTV\PTV_NLog_internal.txt">

    <variable name="logDirectory" value="d:\logsPTV"/>
    <!-- this should be pointing into some disc share Filebeat can read. TODO -->
    <variable name="logElasticDirectory" value="logs\PTV"/>
    <!-- define various log targets -->
    <targets>
        <!-- write logs to file -->
        <!-- use this to write also other logs -->
        <!--<target xsi:type="File" name="allfile" fileName="d:\logsPTV\PTV-nlog-all-${shortdate}.log"
                     layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception}" />-->

        <!-- Following file is for internal use. It is containing all the log entries in plain text format.-->
        <target xsi:type="File" name="ptvAllFile" fileName="${logDirectory}\PTV-nlog-${shortdate}.log"
                  layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception}${event-context:item=Operation} ${event-context:item=Table} ${event-context:item=RowId} ${event-context:item=User}" />

        <!-- Following json logs are for Elasticsearch.  -->
        <target xsi:type="File" name="dbChangesFileJson" fileName="${logElasticDirectory}\PTV-db-${shortdate}.json">
            <layout xsi:type="JsonLayout">
                <attribute name="@timestamp" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fff}"/>
                <attribute name="operation" layout="${event-context:item=Operation}" />
                <attribute name="table" layout="${event-context:item=Table}" />
                <attribute name="id" layout="${event-context:item=RowId}" />
                <attribute name="user" layout="${event-context:item=User}" />
                <!--<attribute name="message" layout="${message}"/>-->
                <!--<attribute name="logger" layout="${logger}"/>-->
            </layout>
        </target>
        <target xsi:type="File" name="errorsFileJson" fileName="${logElasticDirectory}\PTV-errors-${shortdate}.json">
            <layout xsi:type="JsonLayout">
                <attribute name="@timestamp" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fff}"/>
                <attribute name="level" layout="${uppercase:${level}}"/>
                <attribute name="logger" layout="${logger}"/>
                <attribute name="message" layout="${message} ${exception}"/>
            </layout>
        </target>
        <target xsi:type="Null" name="blackhole" />
    </targets>

    <rules>
        <!--All logs, including from Microsoft-->
        <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->

        <!--Skip Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
        <!--Skip Npgsql logs -->
        <logger name="Npgsql.*" minlevel="Trace" writeTo="blackhole" final="true" />
        <!--Skip Webpack logs-->
        <logger name="webpack*" minlevel="Trace" writeTo="blackhole" final="true" />
        <logger name="Webpack*" minlevel="Trace" writeTo="blackhole" final="true" />

        <logger name="*" minlevel="Trace" writeTo="ptvAllFile" />
        <!-- Elasticsearch log files-->
        <logger name="PTV.Database.DataAccess.*" level="Info" writeTo="dbChangesFileJson" />
        <logger name="*" minlevel="Error" writeTo="errorsFileJson" />
    </rules>
</nlog>