<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="/data/logs/PTV_NLog_internal.txt">

    <variable name="logDirectory" value="/data/logs"/>
    <variable name="archiveDirectory" value="/data/logarchives"/>
    <!-- this should be pointing into some disc share Filebeat can read. TODO -->
    <variable name="logElasticDirectory" value="/data/logs"/>

    <!-- Load the ASP.NET Core plugin -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- define various log targets -->
    <targets>
        <!-- write logs to file -->
        <!-- use this to write also other logs -->
        <!--<target xsi:type="File" name="allfile" fileName="c:\logs\PTV-nlog-all-${shortdate}.log"
                     layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception}" />-->

        <!-- Following file is for internal use. It is containing all the log entries in plain text format.-->
        <target xsi:type="AsyncWrapper"
                name="ptvAllFile"
                queueLimit="100000"
                timeToSleepBetweenBatches="100"
                batchSize="1000"
                overflowAction="Grow">
        <target xsi:type="File" name="ptvAllFileInner" fileName="${logDirectory}/PTV-WEB-nlog.log"
                layout="${longdate}|${uppercase:${level}}|${logger}|${aspnet-TraceIdentifier}|${message}|${exception:format=toString:innerFormat=toString:maxInnerExceptionLevel=3}${event-context:item=Operation} ${event-context:item=Table} ${event-context:item=RowId} ${event-context:item=User}"
                archiveFileName="${archiveDirectory}/PTV-WEB-nlog-{##}.log"
                archiveDateFormat="yyyy-MM-dd"
                archiveNumbering="DateAndSequence"
                archiveEvery="Day"
                maxArchiveFiles="7"
                archiveOldFileOnStartup="true"/>
        </target>
        <!-- Following json logs are for Elasticsearch.  -->

        <target xsi:type="AsyncWrapper"
                name="dbChangesFileJson"
                queueLimit="100000"
                timeToSleepBetweenBatches="100"
                batchSize="1000"
                overflowAction="Grow">
        <target xsi:type="File" name="dbChangesFileJsonInner" fileName="${logElasticDirectory}/PTV-WEB-db.json"
                archiveFileName="${archiveDirectory}/PTV-WEB-db-{##}.json"
                archiveDateFormat="yyyy-MM-dd"
                archiveNumbering="DateAndSequence"
                archiveEvery="Day"
                maxArchiveFiles="7"
                archiveOldFileOnStartup="true">
            <layout xsi:type="JsonLayout">
                <attribute name="@timestamp" layout="${date:universalTime=True:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}"/>
                <attribute name="traceIdentifier" layout="${aspnet-TraceIdentifier}" />
                <attribute name="level" layout="${uppercase:${level}}"/>
                <attribute name="event" layout="${event-properties:item=EventId.Name:whenEmpty=database}"/>
                <attribute name="logger" layout="${logger}"/>
                <attribute name="operation" layout="${event-context:item=Operation}" />
                <attribute name="table" layout="${event-context:item=Table}" />
                <attribute name="id" layout="${event-context:item=RowId}" />
                <attribute name="user" layout="${event-context:item=User}" />
				<attribute name="clientIP" layout="${custom-aspnet-request-ip}"/>
            </layout>
        </target>
        </target>

        <target xsi:type="AsyncWrapper"
                name="errorsFileJson"
                queueLimit="100000"
                timeToSleepBetweenBatches="100"
                batchSize="1000"
                overflowAction="Grow">
        <target xsi:type="File" name="errorsFileJsonInner" fileName="${logElasticDirectory}/PTV-WEB-errors.json"
                archiveFileName="${archiveDirectory}/PTV-WEB-errors-{##}.json"
                archiveDateFormat="yyyy-MM-dd"
                archiveNumbering="DateAndSequence"
                archiveEvery="Day"
                maxArchiveFiles="7"
                archiveOldFileOnStartup="true">
            <layout xsi:type="JsonLayout">
                <attribute name="@timestamp" layout="${date:universalTime=True:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}"/>
                <attribute name="traceIdentifier" layout="${aspnet-TraceIdentifier}" />
                <attribute name="level" layout="${uppercase:${level}}"/>
                <attribute name="event" layout="${event-properties:item=EventId.Name:whenEmpty=error}"/>
                <attribute name="logger" layout="${logger}"/>
                <attribute name="clientIP" layout="${custom-aspnet-request-ip}"/>
                <attribute name="message" layout="${message}"/>
                <attribute name="exception" layout="${exception:format=toString:innerFormat=toString:maxInnerExceptionLevel=3}"/>
            </layout>
        </target>
        </target>
        <target xsi:type="AsyncWrapper"
                name="requestFileJson"
                queueLimit="100000"
                timeToSleepBetweenBatches="100"
                batchSize="1000"
                overflowAction="Grow">
        <target xsi:type="File" name="requestFileJsonInner" fileName="${logElasticDirectory}/PTV-WEB-request.json"
                archiveFileName="${archiveDirectory}/PTV-WEB-request-{##}.json"
                archiveDateFormat="yyyy-MM-dd"
                archiveNumbering="DateAndSequence"
                archiveEvery="Day"
                maxArchiveFiles="7"
                archiveOldFileOnStartup="true">
            <layout xsi:type="JsonLayout">
                <attribute name="@timestamp" layout="${date:universalTime=True:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}"/>
                <attribute name="traceIdentifier" layout="${aspnet-TraceIdentifier}" />
                <attribute name="level" layout="${uppercase:${level}}"/>
                <attribute name="event" layout="${event-properties:item=EventId.Name:whenEmpty=request}"/>
                <attribute name="logger" layout="${logger}"/>
                <attribute name="method" layout="${event-context:item=Method}"/>
                <attribute name="url" layout="${event-context:item=Url}" encode="false"/>
                <attribute name="user" layout="${event-context:item=User}"/>
				<attribute name="clientIP" layout="${custom-aspnet-request-ip}"/>
            </layout>
        </target>
        </target>
        <!-- Kestrel request log -->
        <target xsi:type="AsyncWrapper"
                name="appHttpRequests"
                queueLimit="100000"
                timeToSleepBetweenBatches="100"
                batchSize="1000"
                overflowAction="Grow">
        <target xsi:type="File" name="appHttpRequestsInner" fileName="${logElasticDirectory}/PTV-WEB-Kestrel-request.json"
                archiveFileName="${archiveDirectory}/PTV-WEB-Kestrel-request-{##}.json"
                archiveDateFormat="yyyy-MM-dd"
                archiveNumbering="DateAndSequence"
                archiveEvery="Day"
                maxArchiveFiles="7"
                archiveOldFileOnStartup="true">
            <layout xsi:type="JsonLayout">
                <attribute name="@timestamp" layout="${date:universalTime=True:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}"/>
                <attribute name="traceIdentifier" layout="${aspnet-TraceIdentifier}"/>
                <attribute name="level" layout="${uppercase:${level}}"/>
                <attribute name="event" layout="${event-properties:item=EventId.Name:whenEmpty=kestrel}"/>
                <attribute name="logger" layout="${logger}"/>
                <attribute name="method" layout="${aspnet-request-method}"/>
                <attribute name="url" layout="&quot;${aspnet-request-url:IncludePort=true:IncludeQueryString=true}&quot;" encode="false"/>
                <attribute name="clientIP" layout="${custom-aspnet-request-ip}"/>
                <attribute name="isAuthenticated" layout="${aspnet-user-isAuthenticated}"/>
                <attribute name="authenticationType" layout="${aspnet-user-authtype}"/>
                <attribute name="aspNetIdentity" layout="${aspnet-user-identity}"/>
                <attribute name="machineName" layout="${machinename}"/>
                <attribute name="message" layout="${message}"/>
            </layout>
        </target>
        </target>
        <target xsi:type="Null" name="blackhole" />
    </targets>

    <rules>
        <!--All logs, including from Microsoft-->
        <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->

        <!-- Kestrel request log (begin and end) only INFO level messages -->
        <logger name="Microsoft.AspNetCore.Hosting.Internal.WebHost" level="Info" writeTo="appHttpRequests">
            <filters>
                <!-- can be filtered with message: 'Request starting ' and 'Request finished ' if only one log entry is desired or with 'Request ' to get both -->
                <when condition="not starts-with('${message}', 'Request finished ')" action="Ignore" />
            </filters>
        </logger>

        <!--Skip Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
        <!--Skip Npgsql logs -->
        <logger name="Npgsql.*" minlevel="Trace" writeTo="blackhole" final="true" />
        <!--Skip Webpack logs-->
        <logger name="webpack*" minlevel="Trace" writeTo="blackhole" final="true" />
        <logger name="Webpack*" minlevel="Trace" writeTo="blackhole" final="true" />

        <!-- SFIPTV-1134 -->
        <!--<logger name="*" minlevel="Trace" writeTo="ptvAllFile" />-->
        <logger name="*" minlevel="Warn" writeTo="ptvAllFile" />
        
        <!-- Elasticsearch log files-->
        <logger name="PTV.Database.DataAccess.*" level="Info" writeTo="dbChangesFileJson" />
        <!-- <logger name="PTV.Application.Api.Controllers.*" level="Info" writeTo="requestFileJson" /> -->
        <logger name="*" minlevel="Error" writeTo="errorsFileJson" />
    </rules>
</nlog>