
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no"/>
    <title>@ViewData["Title"] - Palvelutietovaranto</title>
    @await Html.PartialAsync("_Favicons")
    <environment names="Development">
    	<link rel="stylesheet" href="~/css/style.css?v=@ViewBag.Version" />
    </environment>
    <environment names="Staging,Production,test,dev,prod,trn,qa">
        <link rel="stylesheet" href="~/css/style.min.css?v=@ViewBag.Version" />
    </environment>
</head>
<body>
    @RenderBody()
    <environment names="Development">
        <script src="~/lib/svg4everybody/dist/svg4everybody.js"></script>
        <script>svg4everybody();</script>
    </environment>
    <environment names="Staging,Production,test,dev,prod,trn,qa">
        <script src="~/lib/svg4everybody/dist/svg4everybody.js"></script>
        <script>svg4everybody();</script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
