@{
    ViewData["Title"] = "Reset password confirmation";
    string newpass = ViewData["newpass"] as string;
}

<h1>@ViewData["Title"].</h1>
<p>
@if (string.IsNullOrEmpty(newpass))
{
        <text>Password has been reset.</text>
}
else
{
        <text>Password has been reset to: <span class="newpass">@newpass</span>.</text>
}

 Please <a asp-controller="" asp-action="">Click here to go Home</a>.
</p>