@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using PTV.IdentityUserManager.Models
@model PTV.IdentityUserManager.Models.ResetPasswordForUserViewModel

<div class="logout-page">
    <div class="page-header">
        <h1>Reset Password for user</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>Would you like to reset password for selected user?</p>
            <form asp-controller="Account" asp-action="ResetPasswordForUser" method="post" class="form-horizontal" role="form">
                <fieldset>
                    <div class="form-group">
                        @Html.DropDownListFor(m => m.UserId, @Model.Users)
                    </div>
                </fieldset>
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>