@import '~sema-ui-components/src/components/styles/_variables.scss';
@import '../../styles/_mixins.scss';


.searchForm {
  background-color: bg-color(dark);
  border: 1px solid border-color(border);
  border-bottom-color: transparent;
  padding-top: 20px;
}

.searchFormEmpty {
  background-color: bg-color(dark);
  border: 1px solid border-color(border);
  padding-top: 20px;
}

.searchFormRow {
  padding: 0 20px;
  background-color: bg-color(dark);
}

.formActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.gdHeader {
  display: flex;
  justify-content: space-between;
}

.attachedGD {
  line-height: 40px;
}

.buttonGroup {
  @include arrange-items($spacing: 20px);
}

.spinner {
  @include spinner-basic();
}

.previewIcon {
  margin-right: 5px;
}

.searchResult {
  margin-top: 10px;
  margin-bottom: 20px;
  &.top {
    border-top: none;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.showMore {
  text-align: center;
  padding: 15px 0;
  border: 1px solid border-color(border);
  border-top: none;
}
