@import '~sema-ui-components/src/components/styles/_variables.scss';
@import '../../../../styles/_mixins.scss';

.languageTabSwitcher {
  display: flex;
  align-items: baseline;
}

.languageCode {
  margin-right: 10px;
  &.draft, &.modified {
    @include paint-box($bgColor: secondary-color(lakka));
  }
  &.published {
    @include paint-box($bgColor: secondary-color(taivas));
  }
  &.deleted, &.oldpublished {
    @include paint-box($bgColor: secondary-color(harmaa));
  }
}

.addNewButton {
  position: relative;
  padding-left: 20px;
  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    height: 30px;
    border-left: 1px solid border-color(border);
  }
  button {
    font: 14px "SourceSansProBold";
    text-transform: uppercase;
  }
}
