@import '~sema-ui-components/src/components/styles/_variables.scss';
@import '../../../../styles/_mixins.scss';

.languageTabSwitcher {
  display: flex;
  align-items: baseline;
}

.languageCode {
  &.draft, &.modified {
    @include status-box($width: auto, $statusColor: icon-color(accent));
  }
  &.published {
    @include status-box($width: auto, $statusColor: status-color(success));
  }
  &.deleted, &.oldpublished {
    @include status-box($width: auto, $statusColor: secondary-color(harmaa));
  }
}

.languageName {
  margin-left: 10px;
  text-transform: uppercase;
}

.addNewButton {
  position: relative;
  padding-left: 20px;
  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    height: 30px;
    border-left: 1px solid border-color(border);
  }
  button {
    font: 14px "SourceSansProBold";
    text-transform: uppercase;
  }
  .compact & {
    &::before {
      border-left: none;
    }
    align-self: center;
  }
}

.languageTab {
  display: flex;
}

.notificationIcon {
  margin-left: 5px;
  @include notification-icon();
}

.languageSelect {
  :global {
    .Select-option {
      padding-left: 10px;
    }
  }
}

.languageOption {
  display: flex;
  align-items: center;
}

.languageOptionText {
  margin-left: 10px;
  text-transform: uppercase;
  .approved & {
    color: status-color(success);
  }
}
