.channel-page {
	/*.button-draft-save{
		float:right;
	}
	.button-save{
		float:right;
	}
	.button-continue{
		float:right;
	}
	.button-cancel{
		float:right;
	}
	.button-back{
		float:right;
	}
	.button-done{
		float:right;
	}*/

	.down-buttons{
		margin-top: 50px;
	}
	.Confirm-dialog{
		margin-bottom: 15px;
    	margin-right: -23px;
	}	
}
