@import '../../../../Components/Styles/variables';

.cell {
  > * {
    ~ * {
      margin-top: 5px;
    }
  }
  .time {
    font-size: 13px;
    margin-top: 0;
  }
}

.name {
  color: $brand-blue;
  cursor: pointer;
}

table th {
  text-align: left;
  font-weight: 600;
}

table td {
  vertical-align: middle;
}
