@import '~sema-ui-components/src/components/styles/_variables.scss';

.labelWrap {
  display: inline-flex;
  align-items: center;
}

.labelCounter {
  margin-left: 5px;
  background-color: status-color(notification);
  border-radius: 10px;
  padding: 0 5px;
}

.loadCounter {
  position: relative;
  line-height: 20px;
}
