@import '../../../../../css/GlobalVariables.scss';
@import '../../styles/variables.scss';
$base-line-height: 20px;
$white2: rgb(13,146,255);
$off-white2: rgba($white2, 0.2);
$spin-duration: 1s;
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.list-search-field {
    /*background-color: $white;
    border: 1px solid $gray-mid;
    border-radius: 2px;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.5625;
    max-width: 100% !important;
    padding: 0.1875rem 0.625rem;
    text-transform: none;
    transition: all 0.2s ease 0s;
    width: 100%;

    input {
        border: 0;
        width: calc(100% - 50px);
    }*/
    position: relative;

    .ptv-textinput {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .Select-control {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .with-icon {
        padding-right: 32px; 
    }

    .icon-search {
        fill: $gray;
    }

    .icon-search, .loading {
        position: absolute;
        top: 10px; 
        right: 5px;
        margin-right: 5px;
    }
    
    .icon {
        margin-top: 5px;
    }

    .loading {
            //float: left;
            //margin-top: 7px;
            //margin-right: 13px;
            top: 12px;
            border-radius: 50%;
            width: $base-line-height;
            height: $base-line-height;
            border: .25rem solid $off-white2;
            border-top-color: $white2;
            animation: spin $spin-duration infinite linear;
            &--double {
              border-style: double;
              border-width: .5rem;
            }
    }

    .icon-close {
        float: right;
        cursor: pointer;
        color: #ced2d5;
    }

    .icon-close:hover {
        color: #0d92ff;
    }

    .icon-close:before {
        content: '\ea0f';
    }
}

.list-search-results {
    max-height: 340px;
    background: #fff;
    padding: 5px 15px;
    //overflow-y: scroll;
    //box-shadow: 0 0 3px #989c9f;
    border: 1px solid $gray-mid;
    border-top: none; 
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    //margin: 5px 0 0 0;
    font-size: 16px;
    font-size: 1rem;
    min-height: 340px;

    .loading {
            float: right;
            margin-right: 12px;
            margin-top: 10px;
            border-radius: 50%;
            width: $base-line-height;
            height: $base-line-height;
            border: .25rem solid $off-white2;
            border-top-color: $white2;
            animation: spin $spin-duration infinite linear;
            &--double {
              border-style: double;
              border-width: .5rem;
            }
    }

    .expandable {
        li {
            padding: 5px 0;
            border-bottom: 1px solid #e9edf0; 

            label {
                font-family: SourceSansProSemiBold; 
            }

            .child-list {
                li {
                    padding: 2px 0;
                    border: 0;

                    label {
                        font-family: SourceSansProRegular; 
                    }
                }
            }
        }
    }

    ul {
        li {
            padding: 2px 0;
        }

        ul {
            margin: 5px 0 0 40px;
        }
    }

    .icon-toggle {
        float: right;
        cursor: pointer;
        margin-top: 7px; 
    }

    .icon-toggle:before {
        content: "\ea0a";
        color: #0d92ff;
    }

    .icon-toggle.open:before {
        content: "\ea0b";
    }

    .ptv-checkbox {
        display: inline-block;
        &.outside-label {
            display: table-cell;
        }
    }
}

.ptv-tree-view {
    overflow-y: scroll;
    
    .node-parent {
        position: relative;  
    }
    
    .toggle-icon.loading {
        display: none;
    }
}

.ptv-tree-node {
    float: left;

    ~ ul {
        clear: both;
    }
}