<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn">
      <!-- internalLogToConsole="true"> -->

    <!-- Load the ASP.NET Core plugin -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
        <add assembly="NLog.AWS.Logger" />
    </extensions>
    
    <!-- define various log targets -->
    <targets>

        <!-- Following json logs are for Elasticsearch. ptv-uiapi-db group -->
        <target name="dbChangesAWS" type="AWSTarget" logGroup="ptv-uiapi-db" region="eu-west-1" Profile="aws-logs">
            <layout xsi:type="JsonLayout">
                <attribute name="@timestamp" layout="${date:universalTime=True:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}"/>
                <attribute name="traceIdentifier" layout="${aspnet-TraceIdentifier}" />
                <attribute name="level" layout="${uppercase:${level}}"/>
                <attribute name="type" layout="${event-properties:item=EventId.Name:whenEmpty=database}"/>
                <attribute name="logger" layout="${logger}"/>
                <attribute name="operation" layout="${event-context:item=Operation}" />
                <attribute name="table" layout="${event-context:item=Table}" />
                <attribute name="id" layout="${event-context:item=RowId}" />
                <attribute name="user" layout="${event-context:item=User}" />
                <attribute name="clientIP" layout="${custom-aspnet-request-ip}"/>
            </layout>
        </target>

        <!-- Following json logs are for Elasticsearch to console -->
        <target name="dbChangesConsole" xsi:type="Console">
            <layout xsi:type="JsonLayout">
                <attribute name="@timestamp" layout="${date:universalTime=True:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}"/>
                <attribute name="traceIdentifier" layout="${aspnet-TraceIdentifier}" />
                <attribute name="level" layout="${uppercase:${level}}"/>
                <attribute name="type" layout="${event-properties:item=EventId.Name:whenEmpty=database}"/>
                <attribute name="logger" layout="${logger}"/>
                <attribute name="operation" layout="${event-context:item=Operation}" />
                <attribute name="table" layout="${event-context:item=Table}" />
                <attribute name="id" layout="${event-context:item=RowId}" />
                <attribute name="user" layout="${event-context:item=User}" />
                <attribute name="clientIP" layout="${custom-aspnet-request-ip}"/>
            </layout>
        </target>
        
        <!-- Following json logs are for errors. ptv-uiapi-errors group  -->        
        <target name="errorsAWS" type="AWSTarget" logGroup="ptv-uiapi-errors" region="eu-west-1" Profile="aws-logs">
                <layout xsi:type="JsonLayout">
                    <attribute name="@timestamp" layout="${date:universalTime=True:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}"/>
                    <attribute name="traceIdentifier" layout="${aspnet-TraceIdentifier}" />
                    <attribute name="level" layout="${uppercase:${level}}"/>
                    <attribute name="type" layout="${event-properties:item=EventId.Name:whenEmpty=error}"/>
                    <attribute name="logger" layout="${logger}"/>
                    <attribute name="clientIP" layout="${custom-aspnet-request-ip}"/>
                    <attribute name="message" layout="${message}"/>
                    <attribute name="exception" layout="${exception:format=toString:innerFormat=toString:maxInnerExceptionLevel=3}"/>
                    <attribute name="body" layout="${aspnet-request-posted-body}"/>
                </layout>
        </target>

        <!-- Following json logs are for errors to console -->
        <target name="errorsConsole" xsi:type="Console">
            <layout xsi:type="JsonLayout">
                <attribute name="@timestamp" layout="${date:universalTime=True:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}"/>
                <attribute name="traceIdentifier" layout="${aspnet-TraceIdentifier}" />
                <attribute name="level" layout="${uppercase:${level}}"/>
                <attribute name="type" layout="${event-properties:item=EventId.Name:whenEmpty=error}"/>
                <attribute name="logger" layout="${logger}"/>
                <attribute name="clientIP" layout="${custom-aspnet-request-ip}"/>
                <attribute name="message" layout="${message}"/>
                <attribute name="exception" layout="${exception:format=toString:innerFormat=toString:maxInnerExceptionLevel=3}"/>
                <attribute name="body" layout="${aspnet-request-posted-body}"/>
            </layout>
        </target>

        <!-- Kestrel request log, ptv-uiapi-kestrel-request group  -->
        <target name="appHttpRequestsAWS" type="AWSTarget" logGroup="ptv-uiapi-kestrel-request" region="eu-west-1" Profile="aws-logs">
            <layout xsi:type="JsonLayout">
                <attribute name="@timestamp" layout="${date:universalTime=True:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}"/>
                <attribute name="traceIdentifier" layout="${aspnet-TraceIdentifier}"/>
                <attribute name="level" layout="${uppercase:${level}}"/>
                <attribute name="type" layout="${event-properties:item=EventId.Name:whenEmpty=kestrel}"/>
                <attribute name="logger" layout="${logger}"/>
                <attribute name="method" layout="${aspnet-request-method}"/>
                <attribute name="duration" layout="${custom-aspnet-request-duration}" encode="false"/>
                <attribute name="httpCode" layout="${aspnet-response-statuscode}" encode="false"/>
                <attribute name="url" layout="&quot;${aspnet-request-url:IncludePort=true:IncludeQueryString=true}&quot;" encode="false"/>
                <attribute name="clientIP" layout="${custom-aspnet-request-ip}"/>
                <attribute name="isAuthenticated" layout="${aspnet-user-isAuthenticated}"/>
                <attribute name="authenticationType" layout="${aspnet-user-authtype}"/>
                <attribute name="aspNetIdentity" layout="${aspnet-user-identity}"/>
                <attribute name="userAgent" layout="${custom-aspnet-user-agent}" />
                <attribute name="userOrganization" layout="${custom-aspnet-user-organization}" />
                <attribute name="userRole" layout="${custom-aspnet-user-role}" />
                <attribute name="machineName" layout="${machinename}"/>
                <attribute name="message" layout="${message}"/>
            </layout>
        </target>

        <!-- Kestrel request log to console  -->
        <target name="appHttpRequestsConsole" xsi:type="Console">
            <layout xsi:type="JsonLayout">
                <attribute name="@timestamp" layout="${date:universalTime=True:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}"/>
                <attribute name="traceIdentifier" layout="${aspnet-TraceIdentifier}"/>
                <attribute name="level" layout="${uppercase:${level}}"/>
                <attribute name="type" layout="${event-properties:item=EventId.Name:whenEmpty=kestrel}"/>
                <attribute name="logger" layout="${logger}"/>
                <attribute name="method" layout="${aspnet-request-method}"/>
                <attribute name="duration" layout="${custom-aspnet-request-duration}" encode="false"/>
                <attribute name="httpCode" layout="${aspnet-response-statuscode}" encode="false"/>
                <attribute name="url" layout="&quot;${aspnet-request-url:IncludePort=true:IncludeQueryString=true}&quot;" encode="false"/>
                <attribute name="clientIP" layout="${custom-aspnet-request-ip}"/>
                <attribute name="isAuthenticated" layout="${aspnet-user-isAuthenticated}"/>
                <attribute name="authenticationType" layout="${aspnet-user-authtype}"/>
                <attribute name="aspNetIdentity" layout="${aspnet-user-identity}"/>
                <attribute name="userAgent" layout="${custom-aspnet-user-agent}" />
                <attribute name="userOrganization" layout="${custom-aspnet-user-organization}" />
                <attribute name="userRole" layout="${custom-aspnet-user-role}" />
                <attribute name="machineName" layout="${machinename}"/>
                <attribute name="message" layout="${message}"/>
            </layout>
        </target>

        <target xsi:type="Null" name="blackhole" />
    </targets>
    <rules>

        <!-- Kestrel request log (begin and end) only INFO level messages -->
        <logger name="Microsoft.AspNetCore.Hosting.Diagnostics" level="Info" writeTo="appHttpRequestsAWS, appHttpRequestsConsole">
            <filters>
                <!-- can be filtered with message: 'Request starting ' and 'Request finished ' if only one log entry is desired or with 'Request ' to get both -->
                <when condition="not starts-with('${message}', 'Request finished ')" action="Ignore" />
            </filters>
        </logger>

        <!--Skip Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
        <!--Skip Npgsql logs -->
        <logger name="Npgsql.*" minlevel="Trace" writeTo="blackhole" final="true" />
        <!--Skip Webpack logs-->
        <logger name="webpack*" minlevel="Trace" writeTo="blackhole" final="true" />
        <logger name="Webpack*" minlevel="Trace" writeTo="blackhole" final="true" />
        <!-- Elasticsearch log -->
        <logger name="PTV.Database.DataAccess.*" level="Info" writeTo="dbChangesAWS, dbChangesConsole" />
        <logger name="*" minlevel="Error" writeTo="errorsAWS, errorsConsole" />
    </rules>
</nlog>