@import '~sema-ui-components/src/components/styles/_variables.scss';

.entityHeader {
  padding: 0 20px;
  border: 1px solid border-color(border);
  border-bottom: none;
  background-color: bg-color(dark);
}

.entityHeaderMain {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.entitySummary {
  flex: 1 0 auto;
}

.newLanguage {
  .entitySummary {
    padding: 20px 0;
  }
}

.entityHeaderItem {
  display: flex;
  font-size: 15px;
  line-height: 20px;
  &:first-child {
    padding-top: 15px;
  }
  &:last-child {
    padding-bottom: 15px;
  }
  ~ .entityHeaderItem {
    padding-top: 10px;
  }
}

.entityHeaderItemLabel {
  flex: 0 0 140px;
}

.entityId {
  text-align: right;
  color: text-color(secondary);
  font-size: 15px;
  &::before {
    content: 'id:';
    margin-right: 10px;
  }
}

.activeEntityName {
  font-weight: 600;
  font-size: 15px;
}

.toggleAdditionalInfo {
  margin-bottom: 10px;
}

.collapsed {
  .toggleButton {
    > button {
      border-color: bg-color(dark);
      box-shadow: inset 0 0 0 1px border-color(border), inset 0 0 0 2px bg-color(light);
      svg {
        fill: interaction-color(primary);
      }
    }
  }
}

.expanded {
  .toggleButton {
    padding: 0 1px;
    > button {
      background-color: interaction-color(primary);
      svg {
        fill: bg-color(content);
      }
    }
  }
}

.language {
  display: flex;
  align-items: center;
}

.languageInfo {
  margin-left: 15px;
}

.languageName {
  text-transform: capitalize;
}

.languageVersion {
  font-size: 14px;
}

.versionLabel {
  padding: 20px;
  font-size: 15px;
  h4 {
    display: flex;
    align-items: center;
  }
  em {
    color: text-color(secondary);
    &::after {
      content: ':';
      margin-right: 5px;
    }
  }
  button {
    margin-left: 10px;
  }
}

.entityHeaderTabs {
  thead {
    background-color: bg-color(dark);
  }
  nav {
    label {
      padding-bottom: 10px;
    }
  }
  section {
    margin-bottom: 20px;
  }
}

.oid {
  &.isReadOnly {
    label {
      margin: 0;
    }
  }
  :global {
    .row > label {
      font-size: 15px;
      font-style: italic;
      font-weight: 400;
      color: text-color(secondary);
      &::after {
        content: ':';
        margin-right: 5px;
      }
    }
    [class*='styles__textFieldWrap___'] {
      align-items: center;
    }
    [class*='styles__label___'] {
      align-items: center;
    }
  }
}

.read {
  label {
    margin: 0;
  }
}

.additionalMessage {
  margin-left: 4px;
}

.lowercase {
  text-transform: lowercase;
}

.entityLabel {
  position: relative;
  > span {
    margin-right: 5px;
  }
}

.spinner {
  position: absolute;
  top: 0;
  right: -25px;
}

.tag {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  text-transform: none;
}

.addNewLanguageLabel {
  margin-right: 20px;
}

.cancelAddingNewLanguage {
  margin-left: 20px;
}

.cancelAddNewLanguageText {
  margin-left: 10px;
}
