<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="/data/logs/ptv-trn-console-nlog-internal.txt">

    <variable name="logDirectory" value="/data/logs"/>

    <!-- define various log targets -->
    <targets>
        <!-- write logs to file -->
        <target xsi:type="File" name="allfile" fileName="${logDirectory}\nlog-all-${shortdate}.log"
                layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

        <target xsi:type="File" name="ownFile" fileName="${logDirectory}\nlog-import-${shortdate}.log"
                layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

        <target xsi:type="File" name="importwarns" fileName="${logDirectory}\nlog-import-warnings-${shortdate}.log"
                layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

        <target xsi:type="Null" name="blackhole" />
    </targets>

    <rules>
        <!--Skip all the PTV custom db logging -->
        <logger name="PTV.Database.DataAccess.UnitOfWorkWritable*" minlevel="Trace" writeTo="blackhole" final="true" />
        <logger name="*" minlevel="Info" writeTo="ownFile" final="false" />

        <!-- Skip all EntityFramework logging in normal case, comment out for debugging -->
        <logger name="Microsoft.EntityFrameworkCore.Storage.*" minlevel="Trace" writeTo="blackhole" final="true" />


        <!--All logs, including from Microsoft-->
        <!-- SFIPTV-1134 -->
        <logger name="*" minlevel="Warn" writeTo="allfile" />

        <!--Skip Microsoft logs and so log only own logs-->
        <!--<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />-->

        <logger name="PTV.DataImport.ConsoleApp.*" minlevel="Warn" writeTo="importwarns" />
        <logger name="PTV.DataImport.ConsoleApp.*" minlevel="Info" writeTo="ownFile" final="true" />
    </rules>
</nlog>
