@import '../styles/variables';
@import '../styles/mixins';
@import '../../../../lib/bootstrap/scss/_mixins.scss';

/*editor error animate*/
/*@import "~toastr/build/toastr.min.css";*/
/*PTV Customization*/

$table-cell-pad: 20px;
$table-cell-pad-small: 10px;
$table-cell-odd-bgcolor: #FFFFFF;

.react-bs-container-body {
  .selectable {
    tr {
      td {
        &:first-child {
          padding: 0 10px;
        }
      }
    }
  }

  .table-striped {
    tr {
      background: $gray-lightest;
      border-top: 1px solid $gray-mid;

      @media #{bp('>desktop')} {
        &:first-child {
          border-top-color: transparent;
        }
      }

      &:nth-child(odd) {
        background: $table-cell-odd-bgcolor;
      }

      &.highlighted {
        background-color: $blue-lightest;
      }
    }
  }

  tr {
    &.highlighted {
      background-color: $blue-lightest;
    }
  }

  .table {
    width: 100%;
    max-width: 100%;
  }

  @media #{bp('<desktop')} {
    max-height: none !important;
  }
}

.react-bs-container-header {
  .selectable {
    tr {
      th {
        &:first-child {
          padding: 0 10px;
        }
      }
    }
  }

  @media #{bp('>desktop')} {
    border-bottom: 1px solid $gray-mid;
  }
}

.react-bs-table {
    background-color: $gray-light;
    border: 1px solid $gray-mid;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    max-height: none !important;
    margin-top: 10px;

    table {
      margin-bottom: 0px;
      table-layout: fixed;
      width: 100%;
    }

    /*@media #{bp('>desktop')} {
      margin-left: -50px;
      margin-right: -50px;
    }*/

    tbody {
      td {
        padding: $table-cell-pad;
        font-size: 15px;
        line-height: 1.33;
      }
    }

    thead {
      th {
        font-size: 13px;
        padding: 10px $table-cell-pad;
        font-weight: bold;

        &.sort-column {
          cursor: pointer;
        }
      }
    }

    // display row tables as cards on small devices
    @media #{$desktop} {
      background-color: transparent;
      border: none;
      box-shadow: none;

      table {
        border: 0;
        table-layout: auto;
      }

      table thead {
        display: none;
      }

      table tbody {
        display: flex;
        flex-flow: row wrap;
      }

      table tbody tr {
        display: block;

        background: #fff;
        border: 1px solid $gray-mid;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
        border-radius: 2px;
        width: calc(100% * (1/2) - 10px);
        margin-bottom: 20px;

        &:nth-child(odd) {
          margin-right: 20px;
        }
      }

      table td {
        display: inline-block;
        vertical-align: middle;
      }
    }

    @media #{$tablet} {
      table tbody tr {
        width: 100%;

        &:nth-child(odd) {
          margin-right: 0;
        }
      }
    }
    .dropup .caret {
        content: "";
        border-top: 0;
        border-bottom: 5px dashed;
        border-bottom: 5px solid\9;
    }
    .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        border-top: 5px dashed;
        border-top: 5px solid\9;
        border-right: 3px solid transparent;
        border-left: 3px solid transparent;
    }

  .small {
    thead, tbody {
      th, td {
        padding: $table-cell-pad-small;
      }
    }
    &.row-select {
      thead, tbody {
        th, td {
          &:first-child {
            padding: 0;
          }
        }
      }
    }
  }

  [class^='icon-'] {
    margin: 0;
    cursor: pointer;
  }
}

/*body .service-search .row .react-bs-table-container .table-header-wrapper thead th {
    padding: 10px;
    color: #0043a8;
}*/

.react-bs-table-container {

    @media #{bp('>desktop')} {
      //margin-left: -50px;
      //margin-right: -50px;
    }

    overflow: hidden;

    table {
        .table-cell {
            width: 300px;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .ptv-tooltip {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
    }

    .data-cell {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @media #{bp('<desktop')} {
          word-break: break-all;
          white-space: normal;
        }
    }
    tr:first-child [data-tooltip]:hover:after {
        bottom: 0% !important;
        left: 25% !important;
    }
    tr > td:last-of-type [data-tooltip]:hover:after {
        left: auto !important;
        right: 0 !important;
    }

}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 2px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 2px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
.dropdown-menu-left {
  right: auto;
  left: 0;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777;
  white-space: nowrap;
}
.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
/*.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}*/
/*END PTV Customization*/

.react-bs-table-container .react-bs-table-search-form {
  margin-bottom: 0px;
}

.react-bs-table {
  //border: 1px solid $gray-mid;
  //border-radius: 2px;
}

.react-bs-table table {
  /*margin-bottom: 0px;
  table-layout: fixed;
  width: 100%;*/
}

.react-bs-table table td,
.react-bs-table table th {
  overflow: hidden;
  //white-space: nowrap;
  text-overflow: ellipsis;
}
.react-bs-table {
  //margin: 5px 10px 5px 10px;
}

.react-bs-table-pagination {
  margin: 10px;
}

.react-bs-table-tool-bar {
  margin: 10px 10px 0px 10px;
}

.react-bs-container-header {
  overflow: hidden;
  width: 100%;
}

.react-bs-container-body {
  /*height: 154px;*/
  overflow: auto;
  width: 100%;
  position: relative;
}

.table-bordered {
    border: 0px;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  border-top-width: 2px;
}
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  border-bottom-width: 0px;
}
/*Esquerda*/
.table-bordered > thead > tr > th:first-child,
.table-bordered > tbody > tr > th:first-child,
.table-bordered > tfoot > tr > th:first-child,
.table-bordered > thead > tr > td:first-child,
.table-bordered > tbody > tr > td:first-child,
.table-bordered > tfoot > tr > td:first-child {
  border-left-width: 0px;
}
/*Direita*/
.table-bordered > thead > tr > th:last-child,
.table-bordered > tbody > tr > th:last-child,
.table-bordered > tfoot > tr > th:last-child,
.table-bordered > thead > tr > td:last-child,
.table-bordered > tbody > tr > td:last-child,
.table-bordered > tfoot > tr > td:last-child {
  border-right-width: 0px;
}
/*Topo*/
.table-bordered > thead > tr:first-child > th,
.table-bordered > thead > tr:first-child > td {
  border-top-width: 0px;
}
/*Baixo*/
.table-bordered > tfoot > tr:last-child > th,
.table-bordered > tfoot > tr:last-child > td {
  border-bottom-width: 0px;
}

.react-bs-table .react-bs-container-header > table > thead > tr > th {
  vertical-align: middle;
}
.react-bs-table .react-bs-container-header > table > thead > tr > th .filter{
  font-weight: normal;
}

.react-bs-table .react-bs-container-header > table > thead > tr > th .select-filter option[value=''],
.react-bs-table .react-bs-container-header > table > thead > tr > th .select-filter.placeholder-selected,
.react-bs-table .react-bs-container-header > table > thead > tr > th .filter::-webkit-input-placeholder,
.react-bs-table .react-bs-container-header > table > thead > tr > th .number-filter-input::-webkit-input-placeholder{
  color: lightgrey;
  font-style: italic;
}

.react-bs-table .react-bs-container-header > table > thead > tr > th .select-filter.placeholder-selected option:not([value='']) {
  color: initial;
  font-style: initial;
}

.react-bs-table .react-bs-container-header > table > thead > tr > th .number-filter,
.react-bs-table .react-bs-container-header > table > thead > tr > th .date-filter {
  display: flex;
}

.react-bs-table .react-bs-container-header > table > thead > tr > th .number-filter-input,
.react-bs-table .react-bs-container-header > table > thead > tr > th .date-filter-input {
  margin-left: 5px;
  float: left;
  width: calc(100% - 67px - 5px);
}

.react-bs-table .react-bs-container-header > table > thead > tr > th .number-filter-comparator,
.react-bs-table .react-bs-container-header > table > thead > tr > th .date-filter-comparator {
  width: 67px;
  float: left;
}

.react-bs-table .react-bs-container-header .sort-column {
  cursor: pointer;
}

/*inline editor default style*/
.react-bs-container .form-control.editor{

}

.react-bs-container  .textarea-save-btn{
  position: absolute;
  z-index: 100;
  right: 0;
  top: -21px;
}

.react-bs-table-no-data {
  text-align: center;
}

/*error tip style*/
.animated {
  animation-fill-mode: both;
}

.animated.bounceIn,
.animated.bounceOut{
  animation-duration: .75s;
}
.animated.shake{
  animation-duration:.3s;
}
@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%,  50%,  90% {
    transform: translate3d(-10px, 0, 0);
  }

  30%, 70%{
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  animation-name: shake;
}
@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-name: bounceIn;
}

@keyframes bounceOut {
  20% {
    transform: scale3d(.9, .9, .9);
  }

  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
}

.bounceOut {
  animation-name: bounceOut;
}

// Tooltips in table
[data-tooltip]:hover {
    position: relative;
}

[data-tooltip]:hover:after {
    content: attr(data-tooltip);
    padding: 4px 8px;
    color: $gray-dark;
    @include absolute(left 0 bottom 100%);
    z-index: 999999;
    width: 450px;
    box-shadow: 0px 0px 4px #222;
    background-color: #FFFFFF;
    border: 1px solid $gray-mid;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
}