@import '~sema-ui-components/src/components/styles/_variables.scss';

.textFieldDisplay {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  label {
    margin: 0;
  }
}

.noLabel {
  label {
    display: none;
  }
}
