@import '~sema-ui-components/src/components/styles/_variables.scss';

.content {
  margin: 0;
  padding: 10px 30px 0;
}

.dialog {
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 10px;
}