@import '~sema-ui-components/src/components/styles/_variables.scss';
.wrapp {
  display: flex;
  background: #fff;
}
.wrapp input {
  height: 46px;
  width: 100%;
  border: none;
  box-shadow: none;
  border-radius: 2px;
  font-size: 16px;
  padding: 6px 40px 6px 10px;
}
.icon {
  position: absolute;
  top: 18px;
  right: 10px;
}

.spinner {
  position: absolute;
  top: 18px;
  right: 30px;
}
