@import '~sema-ui-components/src/components/styles/_variables.scss';

.languages {
  display: flex;
}

.language {
  display: flex;
  padding-right: 20px;
  cursor: pointer;
  color: interaction-color(primary);
}

.languageName {
  text-transform: uppercase;
  margin-left: 10px;
  font-size: 14px;
}

.active {
  cursor: default;
  color: text-color(primary);
}
