<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <!--generate files directly to the import console application generated folder -->
        <add key="outputDir" value="..\..\..\..\src\PTV.DataImport.Console\Generated"/>
        <add key="outputResourcesDir" value="..\..\..\..\src\PTV.ExternalSources\Resources"/>
    </appSettings>
</configuration>