@import '~sema-ui-components/src/components/styles/_variables.scss';
@import '../../../../styles/_mixins.scss';

.entityHeader {
  padding: 0 20px;
  border: 1px solid border-color(border);
  border-bottom: none;
  background-color: bg-color(dark);
}

.entityHeaderRow {
  padding: 10px 0;
}

.entityHeaderItem {
  font-size: 15px;
  line-height: 20px;
  ~ .entityHeaderItem {
    padding-top: 10px;
  }
}
.entityId {
  text-align: right;
  color: text-color(secondary);
  font-size: 15px;
  &::before {
    content: 'id:';
    margin-right: 10px;
  }
}

.activeEntityName {
  font-weight: 600;
  font-size: 15px;
}

.toggleButton {
  cursor: pointer;
  text-align: right;
  > button {
    padding-right: 40px;
  }
  &.collapsed {
    @include icon-caret(interaction-color(primary));
    &::after {
      left: auto;
      right: 18px;
    }
    > button {
      border-color: bg-color(dark);
      box-shadow: inset 0 0 0 1px border-color(border), inset 0 0 0 2px bg-color(light);
    }
  }
  &.expanded {
    @include icon-caret(bg-color(content), 'up');
    &::after {
      left: auto;
      right: 18px;
    }
    > button {
      background-color: interaction-color(primary);
      // box-shadow: none;
    }
  }
}

.language {
  display: flex;
  align-items: center;
}

.languageInfo {
  margin-left: 15px;
}

.languageName {
  text-transform: capitalize;
}

.languageVersion {
  font-size: 14px;
}
