@import '../styles/variables';

.checkbox-list {
	//border-left: 15px solid transparent;
	
	.sub-collection {
		margin-left: 15px;
		padding: 0 15px;
	}

	&.has-children {

		.ptv-label {
			margin-top: 0;
			padding-top: 10px;
		}

		.check {
			background-color: $white;
		}

		> .ptv-checkbox {
			margin-left: -15px;
			margin-bottom: 0;
			padding-left: $checkbox-size + 15px;

			&.small {
				padding-left: $checkbox-size-small + 15px;			
			}
			.ptv-link{
				padding-left:15px;
			}	
		}
	}

	.readonly & {
		ul ul {
			list-style-type: disc;
		}
	}
}

.has-children {
	.checked, .sub-collection {
		background-color: $gray-light;	
	}

	.readonly & {
		.checked, .sub-collection {
			background-color: transparent;
		}
	}
}