@import '~sema-ui-components/src/components/styles/_variables.scss';

// .withCounter {
//   margin-bottom: -20px;
// }

.textEditorHead {
  display: flex;
  justify-content: space-between;
}

.textEditorBody {
  background: bg-color(content);
  border: 1px solid bg-border-color(input-border);
  box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.20);
  border-radius: 2px;
  color: text-color(primary);
  padding: 10px;
  line-height: 20px;
  font-size: 16px;
  vertical-align: top;
  &.disabled {
    cursor: not-allowed;
    border-color: bg-border-color(input-border-disabled);
    background: -moz-linear-gradient(top, interaction-color(secondary-disabled), darken(interaction-color(secondary-disabled), 3%));
    background: -webkit-linear-gradient(top, interaction-color(secondary-disabled), darken(interaction-color(secondary-disabled), 3%));
    background: linear-gradient(to bottom, interaction-color(secondary-disabled), darken(interaction-color(secondary-disabled), 3%));
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.20);
    color: text-color(secondary);
  }
}

.hasFocus {
  border-color: interaction-color(primary);
  box-shadow: 0 0 3px 0 interaction-color(primary);
  outline: 0;
}

.styleButtons {
  display: flex;
  align-items: center;
}

.styleButton {
  padding: 0 3px;
  cursor: pointer;
  ~ .styleButton {
    margin-left: 8px;
  }
}

.styleButtonActive {
  background-color: bg-color(site);
}

.warning {
  border-width: 2px;
  border-color: status-color(notification);
  &.textEditorBody {
    padding: 9px;
  }
}

@mixin erroneous-field($color) {
  border-width: 2px;
  border-color: $color;
  color: $color;
}

.error {
  @include erroneous-field(status-color(danger));
  &.textEditorBody {
    padding: 9px;
  }
  + .prefix {
    @include erroneous-field(status-color(danger));
    padding: 8px
  }
  .errorMessage {
    color: brand(warning);
    text-align: left;
    font-weight: 600;
    font-size: 14px;
  }
}

.prefix {
  padding: 9px;
  line-height: 20px;
  border: 1px solid bg-border-color(input-border);
  box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.20);
  background-color: interaction-color(secondary-disabled);
  border-radius: 2px;
  border-right: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  order: 1;
}

.bottomBar {
  line-height: 20px;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  &.reversed {
    flex-direction: row-reverse;
  }
  :global {
    span[class*='OverLimit'] {
      color: brand(warning);
    }
  }
}

.highlight {
  background-color: rgba(status-color(notification), 0.5);
}

// DRAFT.JS OVERRIDES
:global {
  .DraftEditor-editorContainer, .DraftEditor-root, .public-DraftEditor-content {
    height: inherit;
    text-align: initial;
    min-height: 140px;
  }
  .DraftEditor-root {
    position: relative;
    min-height: 140px;
  }
  .public-DraftEditor-content[contenteditable=true]{-webkit-user-modify:read-write-plaintext-only}
  .readOnly {
    .DraftEditor-editorContainer,.DraftEditor-root,.public-DraftEditor-content,.DraftEditor-root {min-height: 0;}
    .DraftEditor-editorContainer {z-index: 0}
  }
  .DraftEditor-editorContainer{background-color:rgba(255,255,255,0);border-left:.1px solid transparent;position:relative;}
  .public-DraftEditor-block{position:relative;}

  .DraftEditor-alignLeft .public-DraftStyleDefault-block{text-align:left}
  .DraftEditor-alignLeft .public-DraftEditorPlaceholder-root{left:0;text-align:left}
  .DraftEditor-alignCenter .public-DraftStyleDefault-block{text-align:center}
  .DraftEditor-alignCenter .public-DraftEditorPlaceholder-root{margin:0 auto;text-align:center;width:100%}
  .DraftEditor-alignRight .public-DraftStyleDefault-block{text-align:right}
  .DraftEditor-alignRight .public-DraftEditorPlaceholder-root{right:0;text-align:right}

  .public-DraftEditorPlaceholder-root{color:#9197a3;position:absolute;z-index:0;margin-left:16px;}
  .public-DraftEditorPlaceholder-hasFocus{color:#bdc1c9}
  .DraftEditorPlaceholder-hidden{display:none}

  .public-DraftStyleDefault-block{position:relative;white-space:pre-wrap;}
  .public-DraftStyleDefault-ltr{direction:ltr;text-align:left}
  .public-DraftStyleDefault-rtl{direction:rtl;text-align:right}
  .public-DraftStyleDefault-listLTR{direction:ltr}
  .public-DraftStyleDefault-listRTL{direction:rtl}
  .public-DraftStyleDefault-ol,.public-DraftStyleDefault-ul{margin:16px 0;padding:0}

  .public-DraftStyleDefault-depth0.public-DraftStyleDefault-listLTR{margin-left:1.5em}
  .public-DraftStyleDefault-depth0.public-DraftStyleDefault-listRTL{margin-right:1.5em}
  .public-DraftStyleDefault-depth1.public-DraftStyleDefault-listLTR{margin-left:3em}
  .public-DraftStyleDefault-depth1.public-DraftStyleDefault-listRTL{margin-right:3em}
  .public-DraftStyleDefault-depth2.public-DraftStyleDefault-listLTR{margin-left:4.5em}
  .public-DraftStyleDefault-depth2.public-DraftStyleDefault-listRTL{margin-right:4.5em}
  .public-DraftStyleDefault-depth3.public-DraftStyleDefault-listLTR{margin-left:6em}
  .public-DraftStyleDefault-depth3.public-DraftStyleDefault-listRTL{margin-right:6em}
  .public-DraftStyleDefault-depth4.public-DraftStyleDefault-listLTR{margin-left:7.5em}
  .public-DraftStyleDefault-depth4.public-DraftStyleDefault-listRTL{margin-right:7.5em}

  .public-DraftStyleDefault-unorderedListItem{list-style-type:square;position:relative}
  .public-DraftStyleDefault-unorderedListItem.public-DraftStyleDefault-depth0{list-style-type:disc}
  .public-DraftStyleDefault-unorderedListItem.public-DraftStyleDefault-depth1{list-style-type:circle}

  .public-DraftStyleDefault-orderedListItem{list-style-type:none;position:relative}
  .public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-listLTR:before{left:-36px;position:absolute;text-align:right;width:30px}
  .public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-listRTL:before{position:absolute;right:-36px;text-align:left;width:30px}
  .public-DraftStyleDefault-orderedListItem:before{content:counter(ol0) ". ";counter-increment:ol0}
  .public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth1:before{content:counter(ol1) ". ";counter-increment:ol1}
  .public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth2:before{content:counter(ol2) ". ";counter-increment:ol2}
  .public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth3:before{content:counter(ol3) ". ";counter-increment:ol3}
  .public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth4:before{content:counter(ol4) ". ";counter-increment:ol4}

  .public-DraftStyleDefault-depth0.public-DraftStyleDefault-reset{counter-reset:ol0}
  .public-DraftStyleDefault-depth1.public-DraftStyleDefault-reset{counter-reset:ol1}
  .public-DraftStyleDefault-depth2.public-DraftStyleDefault-reset{counter-reset:ol2}
  .public-DraftStyleDefault-depth3.public-DraftStyleDefault-reset{counter-reset:ol3}
  .public-DraftStyleDefault-depth4.public-DraftStyleDefault-reset{counter-reset:ol4}
  .public-DraftStyleDefault-ol, .public-DraftStyleDefault-ul {
    margin: 0;
  }
  .public-DraftEditorPlaceholder-root {
    margin-left: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-style: italic;
    color: text-color(placeholder);
  }
  .hidePlaceholder & {
    .public-DraftEditorPlaceholder-root {
      display: none;
    }
  }
  /* PTV-3081, PTV-3445 */
  @-moz-document url-prefix() {
    .public-DraftStyleDefault-block, .public-DraftStyleDefault-ltr {
      overflow: hidden;
    }
  }

  .public-DraftStyleDefault-block, .public-DraftStyleDefault-ltr {
    span {
      word-break: break-all;
      word-break: break-word;
    }
  }
  /* -------- */
}

.textarea {
  :global {
    .DraftEditor-editorContainer, .DraftEditor-root, .public-DraftEditor-content {
      min-height: 100px;
    }
    .DraftEditor-root {
      min-height: 100px;
    }
  }
}

.textinput {
  :global {
    .DraftEditor-editorContainer, .DraftEditor-root, .public-DraftEditor-content {
      min-height: 20px;
      line-height: 20px;
      white-space: nowrap;
    }
    .DraftEditor-root {
      min-height: 20px;
      line-height: 20px;
      white-space: nowrap;
    }
  }
}
