@import '../styles/variables';
$inputAreaWidths: (40, 80, 120, 160, 200, 240, 280, 320);

.ptv-textarea {
  position: relative;

  & textarea {
    background: $white;
    border: 1px solid $gray-mid;
    box-shadow: inset 0 1px 1px 0 rgba($black, 0.20);
    border-radius: 2px;
    color: $gray-dark;
    padding: 10px;
    line-height: 20px;
    font-size: 15px;
    resize: vertical;

    &:focus, .focus {
      border-color: $brand-blue;
      outline: 0;
    }

    &[disabled] {
      background: $gray-light;
      border: 1px solid $gray-alt;
      border-radius: 2px;
      color: $gray;
    }

  }

  &.full {
    width: 100%;

    & textarea {
      width: 100%;
    }
  }

  @each $w in $inputAreaWidths {
    &.w#{$w} {
      width: #{$w}px;
      max-width: 100%;
    }

    &.w#{$w} textarea {
      width: #{$w}px;
      max-width: 100%;
    }
  }

  &.error {

    & textarea {
      border-color: $brand-warning;
      color: $brand-warning;
    }
  }

}