@import '~sema-ui-components/src/components/styles/_variables.scss';
@import '../../styles/_mixins.scss';

.languageBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  // margin: -3px 3px 0 -3px;
}

.languageBarItem {
  margin: 2px 3px;
  display: flex;
  align-items: center;
}

.moreContent {
  display: block;
  min-width: 50px;
  margin: 0;
  .languageBarItem {
    margin-left: 0;
    ~ .languageBarItem {
      margin-top: 3px;
    }
  }
}

.languageCode {
  &.draft {
    @include status-box($width: auto);
  }
  &.published {
    @include status-box($width: auto, $statusColor: status-color(success));
  }
  &.archived {
    @include status-box($width: auto, $statusColor: secondary-color(harmaa));
  }
}

.languageName {
  text-transform: capitalize;
}

.selected {
  .languageName {
    color: text-color(primary);
    cursor: default;
  }
}

.withNames {
  .languageCode::after {
    content: '-';
    margin: 0 5px;
  }
}

.notificationIcon {
  cursor: default;
  @include notification-icon();
}

.notAvailableTooltip {
  display: inline-flex;
  > * ~ * {
    margin-left: 3px;
  }
}

.tooltipLanguageName {
  font-style: italic;
  text-transform: capitalize;
}

.tooltipLanguageCode {
  font-style: italic;
  text-transform: uppercase;
}

.trigger {
  display: flex;
  margin-left: 6px;
}
