@import '../../Components/Styles/variables';

.language-bar {
  display: flex;
  .language-bar-item {
    ~ .language-bar-item {
      margin-left: 15px;
    }
    .icon-wrap {
      margin-right: 5px;
      // vertical-align: middle;
    }
  }
  .published, .modified {
    fill: $brand-success-alt;
  }
  .draft {
    fill: $brand-warning-alt;
  }
  .deleted {
    fill: $gray-alt;
  }
}

.language-bar-text {
  color: $brand-blue;
  cursor: pointer;
}
