@import '~sema-ui-components/src/components/styles/_variables.scss';

.tasksTitle {
  button {
    display: none;
  }
}

.titleText {
  font-size: 15px;
  // line-height: 30px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.tasksTitle {
  @media (min-width: 1024px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  color: interaction-color(primary);
}

.titleActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // flex: 1 0 auto;
}

[class*='styles__accordionTitle___'][class*='styles__active___'] {
  .tasksTitle {
    button {
      display: block;
    }
  }
}

.notificationTooltip {
  svg {
    fill: icon-color(secondary);
  }
}
