<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal.txt">


    <!-- define various log targets -->
    <targets>
        <!-- write logs to file -->
        <target xsi:type="File" name="allfile" fileName="logs\nlog-all-${shortdate}.log"
                     layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

        <target xsi:type="File" name="ownFile" fileName="logs\nlog-map-${shortdate}.log"
                  layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

        <target xsi:type="File" name="importwarns" fileName="logs\nlog-map-warnings-${shortdate}.log"
                  layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

        <target xsi:type="Null" name="blackhole" />
    </targets>

    <rules>
        <!--Skip all the PTV custom db logging -->
        <logger name="PTV.Database.DataAccess.UnitOfWorkWritable*" minlevel="Trace" writeTo="blackhole" final="true" />
        <!--Skip Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
        <!--Skip Npgsql logs -->
        <logger name="Npgsql.*" minlevel="Trace" writeTo="blackhole" final="true" />

        <!--All logs -->
        <logger name="*" minlevel="Trace" writeTo="allfile" />


        <logger name="PTV.DataImport.ConsoleApp.*" minlevel="Warn" writeTo="importwarns" />
        <logger name="PTV.DataImport.ConsoleApp.*" minlevel="Trace" writeTo="ownFile" final="true" />
    </rules>
</nlog>