@import '../styles/variables';
@import '../styles/mixins';

.ptv-tooltip {
  //margin-left: 10px;
  font-size: 1rem;
  font-family: SourceSansProRegular, 'Helvetica Neue', Arial;
  //font-weight: 400;
}

.tooltip-content {
  position: absolute;
  padding: 16px 20px;
  color: $gray-dark;
  display: inline-block;
  z-index: 10;
  box-shadow: 0px 0px 4px $gray-dark;
  background-color: #FFFFFF;
  border: 1px solid $gray-mid;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
  font-family: SourceSansProRegular, "Helvetica Neue", Arial;
  //width: 375px;

  &.permanent {
    .tooltip-content-body {
      overflow: auto;
      max-height: 250px;
    }
  }
  
  &-body {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis; 
  }

  &.permanent {
    padding-right: 70px;
  }

  .icon-wrap {
    //display: inline;
  }

  &.top {
    margin-bottom: 16px;
    left: 0;
    bottom: 100%;

    & .tooltip-content-arrow {
      transform: rotate(-45deg);
      bottom: -10px;
    }
  }

  &.left {
    margin-right: 16px;
    right: 100%;
    bottom: -16px;

    & .tooltip-content-arrow {
      transform: rotate(-135deg);
      right: -3px;
      bottom: 6px;
    }
  }

  &.right {
    margin-left: 16px;
    left: 100%;
    top: -16px;

    & .tooltip-content-arrow {
      transform: rotate(45deg);
      left: -3px;
      top: 22px;
    }
  }
  
  &-arrow {
    position: absolute;
    z-index: 20;
    width: 14px;
    height: 14px;
    border: 1px solid $gray-mid;
    border-top: none;
    border-right: none;
    background-color: #FFFFFF;
    transform-origin: top;

  }

  &.hidden {
    display: none
  }
  
  .icon-cross {
    @include absolute(top 20px right 20px);
    cursor: pointer;
  }
}