@import '~sema-ui-components/src/components/styles/_variables.scss';
@import '../../../../styles/_mixins.scss';

.tagList {
  :global {
    .Select {
      cursor: default;
      &.is-focused {
        .Select-control {
          box-shadow: none;
        }
      }
    }
    .Select-control {
      border: none;
      background: none;
      box-shadow: none;
      height: auto;
      display: block;
    }
    .Select-multi-value-wrapper {
      display: flex;
      flex-direction: column;
      padding-bottom: 0;
    }
    .Select-clear-zone, .Select-arrow-zone, .Select-menu-outer {
      display: none;
    }
    .Select-value {
      margin-left: 0;
      margin-top: 0;
      ~ .Select-value {
        margin-top: 5px;
      }
    }
    .Select-input {
      display: none !important;
    }
  }
}

.removable {
  :global {
    .Select-value {
      border: 1px;
      border-style: solid;
      border-color: border-color(border);
      background-color: white;
    }
  }
}

.display {
  :global {
    .Select-value {
      display: inline-block;
      padding-left: 35px;
      position: relative;
      &::after {
        @include pseudo-bullet();
        margin-left: 10px;
      }
    }
    .Select--multi .Select-value {
      background-color: transparent;
    }
    .Select-value-label {
      padding: 0;
      label {
        margin: 0;
      }
    }
    .Select-value-icon {
      display: none;
    }
  }
}

.autosizeOff {
  :global {
    @include autosize-off();
  }
}

.multiFix {
  :global {
    @include multi-fix();
  }
}

.invalid {
  color: status-color(danger);
}

.bottomBar {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 20px;
  font-size: 13px;
}

.notificationIcon{
  display: inline-block;
  margin-left: 10px;
}