@import '~sema-ui-components/src/components/styles/_variables.scss';
@import '../../../styles/_mixins.scss';

.buttonGroup {
  @include arrange-items();
}

.formFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.formActions {
  display: flex;
  align-items: center;
}
.shouldShowSuggestedCheckbox {
  margin: 10px;
}

.resultInfo {
  white-space: normal;
}

.formHeadDark {
  background-color: bg-color(dark);
  padding: 15px 20px;
}
