@import '../styles/variables';

.tag-wrap {
    &.inline {
        float: left;
        padding-right: 2px;
        padding-bottom: 2px;
    }
}

.tag-item {
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
    position: relative;

    .wrapped {
        display: block;
        overflow: hidden;
        padding: 3px 8px;
        text-overflow: ellipsis;
        border-radius: 2px;
        background-color: $gray-light;
    }

    .icon-cross {
        float: right;
        cursor: pointer;
        margin-left: 5px;
        fill: $gray-dark;
        transform: scale(0.9);
    }

    .readonly & {
        .wrapped {
            padding: 0;
            background-color: #FFFFFF;
        }
    }

    &.disabled {
        background-color: $gray-lighter;

        .icon-cross {
            cursor: default;
            fill: $gray-mid;
        }
    }

    .vertical & {
      width: 300px;
        .icon-wrap {
          float: right;
        }
    }

    .user-modified & {
      &::before {
        content: '';
        width: 5px;
        background: $brand-info;
        position: absolute;
        height: 100%;
        top: 0;
        left: -10px;
      }
    }

    .with-suffix & {
      margin-right: 10px;
      + .suffix {
        font-style: italic;
      }
    }
}