<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\logs\PTV\OpenAPI\PTV-OpenAPI-nlog-internal.txt">

    <variable name="logDirectory" value="c:\logs\PTV\OpenAPI"/>
    <variable name="logElasticDirectory" value="c:\logs\PTV\OpenAPI"/>

    <!-- Load the ASP.NET Core plugin -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- define various log targets -->
    <targets>
        <!-- write logs to file -->
        <!-- use this to write also other logs -->
        <!--<target xsi:type="File" name="allfile" fileName="c:\logs\PTV-nlog-all-${shortdate}.log"
                     layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception}" />-->

        <!-- log for EF db queries in development -->
        <target xsi:type="File" name="ptvEFDbTrace" fileName="${logDirectory}\PTV-OpenApi-EF-queries-${shortdate}.log"
                  layout="${longdate}|${uppercase:${level}}|${logger}|${aspnet-TraceIdentifier}|${message} ${exception}${event-context:item=Operation} ${event-context:item=Table} ${event-context:item=RowId} ${event-context:item=User}" />

        <!-- Following file is for internal use. It is containing all the log entries in plain text format.-->
        <target xsi:type="File" name="ptvOpenApiAllFile" fileName="${logDirectory}\PTV-OpenApi-nlog-${shortdate}.log"
                  layout="${longdate}|${uppercase:${level}}|${logger}|${aspnet-TraceIdentifier}|${message} ${exception}" />
      <!-- Following json logs are for Elasticsearch.  -->
      <target xsi:type="File" name="dbChangesFileJson" fileName="${logElasticDirectory}\PTV-OpenApi-db-${shortdate}.json">
        <layout xsi:type="JsonLayout">
          <attribute name="@timestamp" layout="${date:universalTime=True:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}"/>
          <attribute name="traceIdentifier" layout="${aspnet-TraceIdentifier}" />
          <attribute name="operation" layout="${event-context:item=Operation}" />
          <attribute name="table" layout="${event-context:item=Table}" />
          <attribute name="id" layout="${event-context:item=RowId}" />
          <attribute name="user" layout="${event-context:item=User}" />
          <!--<attribute name="message" layout="${message}"/>-->
          <!--<attribute name="logger" layout="${logger}"/>-->
        </layout>
      </target>
      <target xsi:type="File" name="errorsFileJson" fileName="${logElasticDirectory}\PTV-OpenApi-errors-${shortdate}.json">
        <layout xsi:type="JsonLayout">
          <attribute name="@timestamp" layout="${date:universalTime=True:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}"/>
          <attribute name="traceIdentifier" layout="${aspnet-TraceIdentifier}" />
          <attribute name="level" layout="${uppercase:${level}}"/>
          <attribute name="logger" layout="${logger}"/>
          <attribute name="message" layout="${message} ${exception}"/>
        </layout>
      </target>
        <target xsi:type="File" name="requestFileJson" fileName="${logElasticDirectory}\PTV-OpenApi-request-${shortdate}.json">
            <layout xsi:type="JsonLayout">
                <attribute name="@timestamp" layout="${date:universalTime=True:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}"/>
                <attribute name="traceIdentifier" layout="${aspnet-TraceIdentifier}" />
                <attribute name="method" layout="${event-context:item=Method}"/>
                <attribute name="url" layout="${event-context:item=Url}" encode="false"/>
                <attribute name="user" layout="${event-context:item=User}"/>
            </layout>
        </target>
        <!-- Kestrel request log -->
        <target xsi:type="File" name="appHttpRequests" fileName="${logElasticDirectory}\PTV-OpenAPI-Kestrel-request-${shortdate}.json">
            <layout xsi:type="JsonLayout">
                <attribute name="@timestamp" layout="${date:universalTime=True:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}"/>
                <attribute name="traceIdentifier" layout="${aspnet-TraceIdentifier}"/>
                <attribute name="method" layout="${aspnet-request-method}"/>
                <attribute name="url" layout="&quot;${aspnet-request-url:IncludePort=true:IncludeQueryString=true}&quot;" encode="false"/>
                <attribute name="clientIP" layout="${aspnet-request-ip}"/>
                <attribute name="isAuthenticated" layout="${aspnet-user-isAuthenticated}"/>
                <attribute name="authenticationType" layout="${aspnet-user-authtype}"/>
                <attribute name="aspNetIdentity" layout="${aspnet-user-identity}"/>
                <attribute name="machinename" layout="${machinename}"/>
                <attribute name="message" layout="${message}"/>
            </layout>
        </target>
        <target xsi:type="Null" name="blackhole" />
    </targets>

    <rules>
        <!--All logs, including from Microsoft-->
        <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->

        <!-- Uncomment below 2 entries to log EF db queries in development and also our own data access -->
        <!--<logger name="Microsoft.EntityFrameworkCore.*" minlevel="Trace" writeTo="ptvEFDbTrace" />
        <logger name="PTV.Database.DataAccess.Services.*" minlevel="Trace" writeTo="ptvEFDbTrace" />-->

        <!-- Kestrel request log (begin and end) only INFO level messages -->
        <logger name="Microsoft.AspNetCore.Hosting.Internal.WebHost" level="Info" writeTo="appHttpRequests">
            <filters>
                <!-- can be filtered with message: 'Request starting ' and 'Request finished ' if only one log entry is desired or with 'Request ' to get both -->
                <when condition="not starts-with('${message}', 'Request finished ')" action="Ignore" />
            </filters>
        </logger>

        <!--Skip Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
        <!--Skip Npgsql logs -->
        <logger name="Npgsql.*" minlevel="Trace" writeTo="blackhole" final="true" />
        <!--Skip Webpack logs-->
        <logger name="webpack*" minlevel="Trace" writeTo="blackhole" final="true" />
        <logger name="Webpack*" minlevel="Trace" writeTo="blackhole" final="true" />

        <logger name="*" minlevel="Error" writeTo="ptvOpenApiAllFile" />
        <!-- Elasticsearch log files-->
        <logger name="PTV.Database.DataAccess.*" level="Info" writeTo="dbChangesFileJson" />
        <logger name="PTV.Application.OpenApi.Controllers.*" level="Info" writeTo="requestFileJson" />
        <logger name="*" minlevel="Error" writeTo="errorsFileJson" />
    </rules>
</nlog>