@import '~sema-ui-components/src/components/styles/_variables.scss';

.portalComponent {
  position: fixed;
  z-index: 10;
  // &.sticky {
  //   top: 0;
  // }
  &.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    transform: translate(0, 0);
    max-width: 100%;
    width: 100%;
  }
}
