.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  color: lightgray;
}
.showMoreButton {
  display: block;
  margin: 0 auto;
}
.operationTypeCell{
  white-space: normal;
}