@import '~sema-ui-components/src/components/styles/_variables.scss';

.wrap {
  > div:first-child {
    position: relative;
    z-index: 1;
  }
}

.notification {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 520px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  > div {
    margin-right: 10px;
    margin-left: 10px;
  }
  :global {
    [class*='boxBg'] {
      position: relative;
      z-index: 100;
    }
    [class*='boxContent'] {
      min-height: auto;
    }
  }
}

@media #{$mobile} {
  .notification {
    max-width: 260px;
  }
}
