@import '~sema-ui-components/src/components/styles/_variables.scss';

.searchFilterItem {
  display: inline-block;
  background-color: #FFF;
  padding: 0 5px;
  border-radius: 2px;
  margin: 0 5px 3px 0;
}

.categoryName {
  text-align: left;
  &.isFirst {
    padding-top: 5px;
  }
  font-size: 14px;
  font-weight: normal;
  padding-top: 5px;
  &::after {
    content: ':';
  }
}

.categoryList {
  &.isLast {
    border-bottom: 2px solid border-color(border);
  }
  border-top: 2px solid border-color(border);
  padding-top: 3px;
}

.plain {
  background-color: transparent;
}
