body {
    .service-search-form{
        padding: 0px 15px 0px 15px;
    }
    .service-search {

        .row {

            .react-bs-container {
                .react-bs-table-container
                {
                    border: none;

                    .table-header-wrapper {
                        background-color: white;

                        thead {
                            th {
                                padding: 10px;
                                color: #0043a8;
                            }
                        }
                    }

                    .table-container {
                        > table {
                            margin-top: -24px;

                            tr:nth-child(odd) {
                                background-color: #f2f2f2;
                            }

                            td {
                                padding: 10px;
                            }
                        }
                    }
                }
            }

            p.status-draft {
                background: #f9ae86;
            }

            p.status-published {
                background: #d0aad5;
            }

            p.status-published, p.status-draft {
                border-radius: 4px;
                padding: 0 5px 0 5px;
                text-align: center;
            }

            .status-draft {
                .cb-marker {
                    background: #f9ae86;
                }
            }

            .status-published {
                .cb-marker {
                    background: #d0aad5;
                }
            }

            .auto-combo-box {
                .Select {
                    margin-right: 0;
                }

                img {
                    top: 7px;
                    right: 5px;
                    position: absolute;
                }
            }

            .label-input {

                /*input {
                    width:95%;
                    margin-right: 15px;
                }*/

                img {
                    top: 7px;
                    right: 5px;
                    position: absolute;
                }
            }
        }
    }
}

.form-wrap {
  padding: 20px 0;
  border: 1px solid #aaa;
  position: relative;
  > [class^="step-"] {
    padding: 0 40px;
  }
  .form-step {
    padding: 0 40px;
    border-top: 1px solid #aaa;
    margin-top: 30px;
    &:first-child {
      border-top: none;
      margin-top: 0;
    }
  }
  // remove top border when in split screen
  .translation & .form-step {
    border-top: none;
  }
}

.box {
  //margin-bottom: 20px;
}

.service-sub-menu {
  padding: 3px 0 5px;
}

// adjust top margins for add-item-containers
[class^="step-"] {
  > .add-item-container {
    &:first-child {
      margin-top: 0;
    }
    &.readonly:first-child label {
      margin-top: 0;
    }
  }
}
