//Header + Footer + Navigation colors
$app-env-bg-color: #ff6a00;
$app-env-color: #333333;
$header-link-color: #b3b7ba;
$header-link-hover-color: #ffffff;
$main-header-background-color: #2c2c2c;
$site-navigation-background-color: #e9edf0;
$navigation-divider-color: #5b5e61;
$navigation-top-border-color: #0d92ff;
$footer-bg-color: #464a4d;
$footer-color: #e9edf0;
$footer-link-color: #e9edf0;
$footer-link-hover-color: #b3b7ba;