@import '~sema-ui-components/src/components/styles/_variables.scss';
$marginSizes: (0, 5, 10, 15, 20, 25, 30);

.spacer {
  border-top: 1px solid secondary-color(harmaa, t60);
  border-bottom: 1px solid secondary-color(harmaa, t5);
}

@each $m in $marginSizes {
  &.m#{$m} {
    margin: #{$m}px 0;
  }
}
