@import '~sema-ui-components/src/components/styles/_variables.scss';

.groupBody {
  border: 1px solid border-color(border);
  background-color: bg-color(content);
  padding: 0 20px;
  :global {
    .form-row {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .form-row-group {
      margin: 10px 0 20px;
      > * {
        &:first-child {
          margin-top: 20px;
        }
        ~ * {
          margin-top: 10px;
        }
      }
      > label {
        margin-top: 10px;
        margin-bottom: 0;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

.withWarning, .withError {
  .groupBody {
    border: 2px solid status-color(notification);
    padding: 0 19px;
  }
}

.withError {
  .groupBody {
    border-color: status-color(danger);
  }
}

.customReadTitle {
  &.readOnly {
    .groupHeader {
      display: none;
    }
  }
}

.readOnly {
  .groupHeader {
    label {
      margin-bottom: 0;
    }
  }
  .groupBody {
    border: none;
    padding: 0;
  }
  :global {
    .form-row {
      .form-row {
        margin: 0;
      }
    }
    .form-row-group {
      margin: 0;
      > * {
        &:first-child {
          margin-top: 0;
        }
        ~ * {
          margin-top: 0;
        }
      }
    }
  }
}
