@import '~sema-ui-components/src/components/styles/_variables.scss';
@import '../../../../styles/_mixins.scss';

.buttonGroup {
  @include arrange-items($spacing: 20px);
}

.content {
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 10px;
}

.publish {
  width: 90%;
  @media only screen and (min-width: 1280px) {
    width: 1180px;
  }
  [class*='styles__modalContent'] {
    min-height: 450px;
  }
}
